# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Plaintext
student_management/
bank_management/
library_management/
tic_tac_toe/

# VS Code specific settings (Optional: remove if you want to share workspace settings)
.vscode/

# Project Specific Database/Temporary Files
*.dat